<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="frm" (ngSubmit)="update()" class="example-form">
        <h3>User - Change Password</h3>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Enter Previous Password"
            formControlName="ppass"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Enter New Password"
            formControlName="npass"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Re-enter Password"
            formControlName="rpass"
          />
        </mat-form-field>

        <button mat-raised-button color="primary">
          Update
        </button>
        <button mat-raised-button class="reset" color="primary">
          Cancle
        </button>
      </form>
    </div>
  </div>
</div>
